@media screen and (max-width:475px) {
    .nav-bar, .nav-list ul{
        flex-direction: column;
    }
    .nav-logo img{
        width: 20%;
        height: auto;
    }
    .nav-logo{
        justify-content: center;
    }
    .nav-bar {
        gap: 30px;
    }
    .nav-list ul{
        gap: 30px;
    }
    .header-banner-container{
        flex-direction: column-reverse;
        gap: 20px;
    }
    .header-banner{
        background-image: none;
    }
    .header-banner-text{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    
    .header-banner-text{
        background-image: url("../images/Group\ 14.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .header-banner-text h2{
        font-size: 2rem;
    }
    .header-banner-text h1{
        font-size: 4rem;
    }
    .header-banner-text li {
        font-size: 1rem;
    } 
    .banner-2-container{
        flex-direction: column;
    }
    .banner-2-img{
        width: 100%;
    }
    .banner-2-text{
        width: 100%;
        align-items: center;
        text-align: center;
    }
    .banner-2-span{
        font-size: 1.3rem;
    }
    .funny-video-card{
        grid-template-columns: 1fr;
        gap: 20px;
    }
    .card{
        width: 100%;
    }
    .play-banner{
        flex-direction: column;
        gap: 20px;
        width: 80%;
        margin: 0 auto 50px auto;
    }
    .play-text{
        width: 100%;
        text-align: center; 
        align-items: center;
    }
    .play-image{
        width: 80%;
        margin: 0 auto;
    }
    .play-text span{
        font-size: 2rem;
    }
    .play-text h1{
        font-size: 2.2rem;
    }
    .play-text span::after{
        content: "Instantly,";
    }
    .play-text p{
        margin-top: 50px;
        width: 100%;
        font-size: 0.8rem;
    }
}


